FLASK_APP=manage.py
APP_ENV=development
FLASK_ENV=development
SECRET_KEY=replace-with-a-strong-secret
JWT_SECRET_KEY=replace-with-a-strong-jwt-secret
DATABASE_URL=postgresql://postgres.yrpmdqsenqsckfacjxee:YOUR_URL_ENCODED_PASSWORD@aws-1-eu-central-1.pooler.supabase.com:5432/postgres?sslmode=require
FRONTEND_ORIGIN=https://glee.ayodev.co.uk
BANK_ACCOUNT_NAME=GLEEMAKEOVERS
BANK_SORT_CODE=00-00-00
BANK_ACCOUNT_NUMBER=00000000
BANK_REFERENCE_PREFIX=GLM
EMAIL_API_BASE_URL=https://api.resend.com/emails
EMAIL_API_KEY=re_your_resend_api_key
FROM_EMAIL=bookings@your-verified-domain.com
FLASK_DEBUG=1
